* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", monospace, Arial;
}

/****************/
/**** HEADER ****/
/****************/

header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
}

header > h2 {
  font-size: 18px;
  color: #f9faf8;
  margin-right: 400px;
  padding: 15px;
}

header > ol {
  padding: 17px;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

header > ol li a {
  text-decoration: none;
  font-size: 14px;
  color: #e5e7eb;
}

/****************/
/****  HERO  ****/
/****************/

.hero {
  height: 70vh;
  padding: 0 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1f2937;
}

.hero-content > h1 {
  font-size: 42px;
  font-weight: 700;
  color: #f9faf8;
  text-align: center;
}

.hero-content > p {
  text-align: center;
  font-size: 16px;
  color: #e5e7eb;
  padding: 10px 50px;
}

.hero-image > img {
  width: 550px;
  height: 250px;
}

/****************/
/****  STAFF  ****/
/****************/

.staff {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  margin: 40px 0;
  font-size: 24px;
  color: #1f2937;
}

.staff-info {
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.staff-info > div {
  text-align: center;
  margin-bottom: 50px;
  font-size: 18px;
}

.staff-info > div > img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 30px;
}

/****************/
/**TESTIMONIAL**/
/****************/

.testimonial {
  background-color: #e5e7eb;
}

.testimonial > figure {
  padding: 120px 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 28px;
  font-weight: 300;
  color: #1f2937;
}

figure > figcaption {
  font-weight: 700;
  margin-top: 20px;
  margin-left: 70%;
  font-size: 20px;
}

/****************/
/***** CTA *****/
/****************/

.call-to-action {
  color: #f9faf8;
  padding: 100px;
}

.cta-container {
  background-color: #3882f6;
  padding: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}

.cta-content > p {
  color: #e5e7eb;
}

.cta-button {
  background-color: #3882f6;
  color: #f9faf8;
  padding:  5px 40px;
  border: 2px white solid;
  border-radius: 10px;
}

/****************/
/**** FOOTER  ***/
/****************/

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px 0px;
  text-align: center;
}